# Application Configuration
APP_LOG_LEVEL=debug

# Database Configuration
DB_DSN=host=localhost user=postgres password=postgres dbname=app_db port=5432 sslmode=disable
DB_LOG_LEVEL=info

# HTTP Server Configuration
HTTP_ADDR=:8080

# JWT Configuration
# IMPORTANT: Change this to a secure random string in production!
JWT_SECRET=your-secret-key-change-this-in-production
JWT_ACCESS_TOKEN_TTL=24h

# Storage Configuration
# localfs
# STORAGE_TYPE=local
# STORAGE_BASE_PATH=run/upload

# minio
STORAGE_TYPE=minio
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY_ID=minioadmin
MINIO_SECRET_ACCESS_KEY=minioadmin
MINIO_BUCKET_NAME=mp-api
MINIO_USE_SSL=false

# Cleanup; temporary file cleanup configuration
CLEANUP_INTERVAL=1h
CLEANUP_TTL=24h